<template>
  <div class="container">
    <div class="columns">
      <div class="column">
        <compose view-model="components/demos/chat/chat"></compose>
      </div>
      <div class="column">
        <compose view-model="components/demos/accountify/generic"></compose>
      </div>
    </div>
  </div>
</template>
