<template>
  <require from="components/demos/accountify/form.css"></require>
  <ux-dialog>
    <ux-dialog-header class="has-text-centered">
      <h2 class="subtitle">Add ${resourceName} form</h2>
    </ux-dialog-header>
    <ux-dialog-body>
      <form id='egress_form'>
        <div class="field is-horizontal" repeat.for="field of fields">
          <div class="field-label is-normal">
            <label class="label" for="${field}">${ field }</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <select if.one-way="field == 'target' || field == 'storage_type'"
                        name="${field}" class="input" required id="${field}" value.bind="object[field]">
                  <option value="" selected>---------</option>
                  <option repeat.for="option of options" value="${option.value}">${option.name}</option>
                </select>
                <input else type.one-way="setType(field)" name="${field}" maxlength="200" class="input" required id="${field}" value.bind="object[field]">
              </div>
            </div>
          </div>
        </div>
      </form>
    </ux-dialog-body>

    <ux-dialog-footer>
      <button>Cancel</button>
      <button click.trigger="submit()" type="submit" class="button is-danger">Save</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
