<template>
  <require from="components/demos/accountify/generic.css"></require>
  <div class="card" repeat.for="[resourceName, info] of data">
    <compose view-model="components/demos/accountify/items-list" model.bind="info"></compose>
  </div>
</template>
