.table {
  margin-bottom: 0;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.card-header-title {
  color: #8F99A3;
  font-weight: 900;
}
.generic-list {
  max-height: 250px;
  overflow-y: scroll;
}
