<template>
  <require from="components/demos/accountify/form.css"></require>
  <div class="card-header">
    <p class="card-header-title">${resourceName}</p>
  </div>
  <div class="generic-list card-table">
    <div class="content">
      <table class="table is-striped">
        <thead>
          <tr show.bind="objects.length > 0">
            <th repeat.for="field of fields">${field}</th>
          </tr>
        </thead>
        <tbody>
          <tr repeat.for="item of objects">
            <td repeat.for="field of fields">${item[field]}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="card-footer">
    <a if.bind="showActions || rerender" href="#" class="card-footer-item" click.trigger="fetch()">Fetch</a>
    <a else disabled href="#" class="card-footer-item">Fetch</a>
    <a if.bind="showActions || rerender" href="#" class="card-footer-item" click.trigger="newItem(resourceName)">New</a>
    <a else disabled href="#" class="card-footer-item">New</a>
  </footer>
</template>
