<template>
  <require from="styles.css"></require>
  <compose if.bind="usersNotEmpty" view="components/demos/chat/users.html"></compose>
  <br if.bind="usersNotEmpty" />
  <compose if.bind="messagesNotEmpty" view="components/demos/chat/messages.html"></compose>
  <br if.bind="messagesNotEmpty" />
  <form submit.delegate="submit()">
    <div class="field">
      <div class="control">
        <textarea if.bind="usernameSaved && socket.readyState == 1" value.bind="message"
                  class="textarea" name="message" maxlength="500" minlength="2"
                  id="id_message" placeholder="Message" required focus.one-way="true"></textarea>
        <input else class="input" placeholder="Nickname" maxlength="11" minlength="3"
               type="text" name="username" value.bind="username"/> <!--focus.one-time="true" -->
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">${!usernameSaved ? 'Enter' : 'Send'}</button>
    </div>
  </form>
</template>
