<template>
  <div class="message is-dark">
    <div class="message-body chats-list">
      <p class="subtitle">Messages</p>
      <div repeat.for="item of messages">
        <div show.bind="item.message" class="${username == item.username ? 'has-text-right' : ''}">
          <label class="label">${item.username == username ? 'I' : item.username}: </label>
          ${item.message}
        </div>
      </div>
    </div>
  </div>
</template>
