<template>
  <div class="message is-warning">
    <div class="message-body">
      <p class="subtitle">Online users</p>
      <div class="tags">
        <span class="tag is-dark" repeat.for="item of users">${item}</span>
      </div>
    </div>
  </div>
</template>
