<template>
  <require from="styles.css"></require>
  <div class="container">
    <div class='columns'>
      <div class='column is-narrow'>
        <div class='rows'>
          <div class='row'>
            <div class="card">
              <header class="card-header">
                <div class="card-header-title">In a nutshell:</div>
              </header>
              <div class="card-content">
                I'm a software engineer with a particular interest in web technologies
                and Open Source software. I'm currently working at Digital OnUs using
                Python as the main programming language.<br><br>
                Get in touch with me at slackmart [at] gmail [dot] com.
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="card">
              <header class="card-header">
                <div class="card-header-title">Technology stack:</div>
              </header>
              <div class='card-content'>
                Python, Docker, Jenkins, Vim, Git, Aurelia, Shell scripting, Django, Flask,
                GNU/Linux, Ansible
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='column is-3'>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4"><img src="../images/linus.jpg"></figure>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">This is me ^</div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>
