<template>
  <div class="hero-body">
    <div class="has-text-centered">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1 is-bold">
            Martín Rodríguez
          </h1>
          <h2 class="subtitle is-4">
            Software Engineer
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>
