<template>
  <require from="styles.css"></require>
  <require from="../resources/value-converters/take-value-converter"></require>
  <div class="container">
    <p class="notification">Bitbucket repositories</p>
    <div class="columns is-multiline">
      <div class="column is-half" repeat.for="repo of bitbucket">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title">
              <a target="_blank" href.one-time="repo.links.html.href">${repo.name}</a>
              <span class="tag ${repo.language == 'python' ? 'is-success' : 'is-dark'}">${repo.language}</span>
            </div>
          </header>
          <div class="card-content">
            ${repo.description}
            ${repo.updated_on}
            <div class="is-fullwidth is-size-7">
              <p>Commit: ${repo.lastCommit.msg}</p>
              <p>Files Changed:</p>
              <div repeat.for="stat of repo.lastCommit.stats | take:7" if.bind="!expandAll">
                <span class="has-text-primary" if.bind="stat.status == 'added'">A</span>
                <span class="has-text-warning" if.bind="stat.status == 'modified'">M</span>
                <span class="has-text-danger" if.bind="stat.status == 'removed'">D</span>
                <span class="has-text-grey">${stat.new.path || stat.old.path}</span>
                <span class="has-text-primary">++${stat.lines_added}</span>
                <span class="has-text-danger">--${stat.lines_removed}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="notification">Gitlab repositories</p>
    <div class="columns is-multiline">
      <div class="column is-half" repeat.for="repo of gitlab">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title">
              <a target="_blank" href.one-time="repo.web_url">${repo.name}</a>
              <span>[${repo.language}]</span>
            </div>
          </header>
          <div class="card-content">
            ${repo.description}
            ${repo.updated_on}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
