<template>
  <header class="navbar">
    <nav class="container" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!--<img src="dist/images/favicon.png" width="82" height="170">-->
        </a>
        <div class="navbar-item is-hidden-desktop"
             show.bind="router.currentInstruction.config.name != 'aboutme'">
          Martín Rodríguez
        </div>
        <div class="navbar-burger burger ${showSocial ? 'is-active' : ''}"
             click.delegate="showSocial=!showSocial">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu ${showSocial ? 'is-active' : ''}">
        <div class="navbar-end">
          <div class="navbar-item is-hidden-touch"
               show.bind="router.currentInstruction.config.name != 'aboutme'">
            Martín Rodríguez
          </div>
          <a class="navbar-item" target="_blank" href.one-time="net.url" repeat.for="net of networks">
            <i class.one-time="net.cssclass" title.one-time="net.name" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>
  </header>
</template>
