<template>
  <require from="bulma/css/bulma.css"></require>
  <section class="hero is-dark">
    <div class="hero-head">
      <compose view-model="components/top-navbar"></compose>
    </div>
    <router-view name="hero-body"></router-view>
    <div class="hero-foot container">
      <nav class="tabs is-boxed is-fullwidth">
        <ul>
          <li class="${route.isActive ? 'is-active' : ''}" repeat.for="route of router.navigation">
            <a href="${route.href}">${route.title}</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="section">
    <router-view name="main-content"></router-view>
  </section>
</template>
